@import "../variables";
@import "../mixins";

.about-us {
    background-color: #fafafa;

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 90px 0 100px;

        @include b(479) {
            flex-direction: column;
        }
    }

    &__imgwrap {
        max-width: 300px;
        max-height: 410px;
        @include b(479) {
            display: flex;
        }
    }

    &__textbox {


        margin-left: 115px;

        @include b(1024) {
            margin-left: 35px;
        }

        @include b(479) {
            margin-left: 0;
            text-align: center;
        }

        &-caption {
            display: block;
            max-width: 315px;
            font-size: 35px;
            line-height: 1.285;
            letter-spacing: 2px;
            
            @include b(479) {
                margin: 0 auto;
            }
        }

        &-text {
            max-width: 420px;
            margin-top: 30px;
            font-family: $arial;
            font-size: $main-fz;
            line-height: 1.55;
            color: $second-color;

        }
    }
}